.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125em solid #fff; /*borda de 2 px*/
  border-radius: 5rem; /*arendodamento da borda de 26px*/
  color: var(--color-primary);
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contact,
.btn--eventos {
  
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--institutional:hover,
.btn--contact:hover,
.btn--eventos:hover {
  color: var(--color-copy);
  border-color: var(--color-primary);
  background: unset;
  box-shadow: 0 1rem 1rem #000;
}

.btn--contact:hover {
  color: #fff;
}

.btn--quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
  background: unset;
}

.btn--eventos{
  display: block;
  position: relative;
  left: 800px;
  top: -180px;

}



