.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.contact h3 {
  font-size: 1.5625rem; /*tamanho da fonte do titulo do contato de 26 px */
  margin: 0;
  margin-bottom: 1.875rem;
  padding-left: 20px;
}

.contact h3:nth-of-type(2) {
  margin-top: 3.75rem;
}

.contact__info,
.contact__form {
  padding: 4rem 0;
}

.contact__info i {
  font-size: 1.5rem;
  color: var(--color-primary);
  padding-left: 20px;
}

.contact__info span {
  font-weight: 700;
  font-family: "roboto";
  gap: 0.625rem;
  line-height: 1.6875rem;
}

.contact__info__container,
.contact__form__container {
  width: 640px;
}

.contact__info__container {
  float: right;
  padding-right: 7.125rem;
  margin-left: 20px;
}

.contact__form__container {
  padding-left: 7.125rem;
}

.contact__form {
  background-color: #000;
  color: #fff;
}

.contact__info span,
.contact__form label,
.contact__form input {
  display: block;
}

.contact__form label {
  font-weight: 700;
}

.contact__form input {
  background: unset;
  border: unset;
  border-bottom: 0.1rem solid #fff;
  color: #fff;
  width: 80%;
  margin-bottom: 1.875rem;
  padding: 0.5 0rem;
  font-size: 1.5rem;
}

.contact__form input:focus {
  outline: unset;
}

.contact__form button {
  float: right;
  margin-right: 70px;
  margin-top: 20px;
}

.maps,
.maps iframe {
  height: 36.5rem; /* altura do mapa de 584 px*/
}
