#slider {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.slide {
  height: 90vh;
  position: relative; /*prende o objeto filho dentro do objeto pai*/
}
.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 6.25rem;
  left: 50vh;
}

.slide__copy h6 {
  font-size: 0.9375rem; /*tamanbho da fonte de 15 px*/
  font-weight: 400; /* peso da fonte */
  text-transform: uppercase;
  letter-spacing: 0.1875rem; /* espaçamento da fonte de 3px */
}

.slide__copy h2 {
  font-size: 6.25rem; /*tamanbho da fonte de 100 px*/
  text-transform: uppercase;
  line-height: 6.25rem;
}

.slide__copy h2 span {
  display: block;
}

#counter {
  background-color: var(--color-primary);
  color: #fff;
  text-transform: uppercase;
}

.counter__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  padding: 4.375rem 1rem; /*espaçamento do texto de 70 px entre a margem da caixa(container */
}

.counter__container h3 {
  font-size: 2.1875em; /* tamanho da fonte de 35px */
}

.counter__container h3 small {
  display: block;
  font-size: 1.25rem; /* tamanho da fonte de 20px */
}

.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem; /* 50 px a distancia entre a imagem e a caixa de texto */
  align-items: center;
  padding: 4.375rem; /*espaçamento do texto de 70 px entre a margem da caixa(container)*/
}

.institutional__image {
  max-width: 550px;
}

.institutional__copy {
  padding: 0 1.875rem; /* espaçamento de 30 px */
}

.institutional__copy h6 {
  font-size: 0.875rem; /* tamanho  da 14 px */
  font-weight: 300;
  letter-spacing: 0.1rem; /* espaçamento entre as letras do texto de  1 px */
  text-transform: uppercase;
  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem; /* tamanho  da fonte de  25 px */
  margin-top: 1rem;
}

.institutional p {
  font-family: "roboto", sans-serif;
  font-size: 1.0625em; /* tamanho  da fonte de  17 px */
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem; /* ditasncia da margin de baixo do botão com o texto de  40 px */
}

.quote {
  background-image: url(../parallax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container__quote {
  display: grid;
  min-height: 95vh;
  align-items: center;
  justify-items: end;
}

.quote_copy {
  background-color: #fff;
  padding: 5.625rem 4.375rem; /* espaçamento de  (5.625 rem) para cima e para baixo  da caixa de texto com o texto de 90 px e de (4.375 rem) de espaçamento dos lados direto e esquerdo de 70px */
}

.quote_copy h6 {
  font-size: 0.9375rem; /* tamanho  da fonte de  15 px */
  font-weight: 400;
  letter-spacing: 0.1875rem; /*espaçamento entre as letras  de  3 px */
  line-height: 1.4375rem;
  max-width: 75vh;
  text-transform: uppercase;
  margin: 0;
}

.quote_copy h2 {
  font-size: 3.437rem; /*tamanho da fonte  de  60 px */
  text-transform: uppercase;
  letter-spacing: -0.1875rem;
  line-height: 3.437rem;
  margin: 1.875rem 0;
}

.quote_copy h2 span {
  display: block;
}
