.navbar {
  position: absolute;

  z-index: 1; /*deixa o menu de navegaç]ao por cima dos elementos*/
  top: 0;
  left: 0;
  width: 100%;

  color: #fff;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  right: 0;
  width: 100%;
  padding: 1rem;
}

.navbar__links {
  align-items: center;
  justify-self: end;
}

.navbar__links li {
  font-size: 0.875rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a.active {
  color: var(
    --color-primary
  ); /*diexa ativp( o munu da página conttaos, quando se está nela */
}

.navbar__links a:hover {
  color: var(--color-primary);
}
