@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');



*{
    box-sizing: border-box;

}

:root{
    --color-primary:#FF7F24;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}

body{
    margin: 0px;
    padding-top: 4.15rem;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}


.navbar{
    position: fixed;
    z-index: 1;     /*deixa o menu de navegaç]ao por cima dos elementos*/
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 91px;
    background-color:#000;
    color: #fff;
    padding:o 1rem;
<<<<<<< HEAD

=======
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8
}

.navbar__links{
    justify-self: end;
<<<<<<< HEAD

=======
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8
}

 .navbar__links li{
     font-size: 0.875rem;
     margin-right: 3rem;
     text-transform: uppercase;
<<<<<<< HEAD

 }

=======
     
 }
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8


.navbar__links a{
    font-weight: 300;
    color: #fff;
    text-decoration:none;
<<<<<<< HEAD

=======
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8
}

.navbar__links a:hover{
    color:var(--color-primary);
}

.logo-studion{
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;     /*relativo ao tamanho do glifo 0 da fonte*/
    text-transform: uppercase;
    text-align: right;
<<<<<<< HEAD

=======
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8

}

.logo-studion_subtitle{
    font-size: 0.875rem;
    font-weight: 300;
<<<<<<< HEAD


=======
    
    
>>>>>>> d88d8db5248738e7d8cc2eb8bb645c557fd551e8
}


.copy--primary{
    color: var(--color-primary);
}

#slider{
    background-color: #000;
    color: #fff;
    padding: 20px;

}

.slide{
    height: 110vh;
    position: relative;   /*prende o objeto filho dentro do objeto pai*/


}
.slide__background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy{
    position: absolute;
    top: 6.25rem;
    left: 50vh;

}

.slide__copy h6{
    font-size: .9375rem; /*tamanbho da fonte de 15 px*/
    font-weight: 400;   /* peso da fonte */
    text-transform: uppercase;
    letter-spacing: .1875rem; /* espaçamento da fonte de 3px */
}

.slide__copy h2{
    font-size: 6.25rem;  /*tamanbho da fonte de 100 px*/
    text-transform: uppercase;
    line-height: 6.25rem;

}

.slide__copy h2 span{
    display: block;

}

.btn{
    cursor:pointer;
    padding:1rem 2.5rem;
    border: 0.125em solid #fff;    /*borda de 2 px*/
    border-radius: 5rem; /*arendodamento da borda de 26px*/
    color:var(--color-primary);
    background: unset;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s all ease;

}

.btn:hover,
.btn:active,
.btn:focus {
border-color:var(--color-primary);
background-color:var(--color-primary);
color: #fff;

}
